---
import InputField from "../components/InputField.astro";
import TextArea from "../components/TextArea.astro";
import ArticleEditor from "../reactComponents/Notes";

---


<main>
    <InputField />
    <ArticleEditor client:load />
    
</main>