---

---

<!DOCTYPE html>
<html lang="en">
	<body>
		<nav class="mb-10">
            <p class="font-bold w-full p-6 text-center shadow text-xl">Article <span class="text-purple-600">Drafter</span></p>
        </nav>

		<slot />
        
	</body>
</html>